CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.vs
.ycm*
docs
.vscode
*.swp
*.bak


build
.clang-format
lowpoly_track_1_test_5.glb
Track_Strip_test.glb
lowpoly_track_test_2.glb